.p-main {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.p-main .p-center {
  background-color: #ffffff;
  border: 1px none;
  height: 1265px;
  position: relative;
  width: 375px;
}

.p-main .p-navbar {
  background-color: #ffffff;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.p-main .p-text {
  color: var(--n-10);
  font-family: "Noto Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 162px;
  letter-spacing: -0.18px;
  line-height: 18px;
  position: absolute;
  top: 12px;
  white-space: nowrap;
}

.p-main .p-bell-off {
  height: 24px !important;
  left: 335px !important;
  position: absolute !important;
  top: 10px !important;
  width: 24px !important;
}

.p-main .p-arrow {
  height: 24px !important;
  left: 10px !important;
  position: absolute !important;
  top: 12px !important;
  width: 24px !important;
}
.p-main .p-header {
    background-color: #ffffff;
    height: 60px;
    left: 0;
    position: absolute;
    top: 48px;
    width: 375px;
}

/*Header Right Area*/
.p-main .p-rightarea{
  margin-left: 300px;
}
.p-main .p-rightarea .p-button{
    align-items: center;
    font-family: "Noto Sans", Helvetica;
    background-color: rgb(1 185 159);
    font-size: 12px;
    color: #ffffff;
    border-radius: 15px;
    border: 0px;
    display: flex;
    padding: 3px 8px;
    position: absolute;
    top: 18px;
    width: fit-content;
}
/*Header Right Area*/
/*Header left Area*/
.p-main .p-leftarea{
  align-items: center;
  display: flex;
  gap: 8px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: fit-content;
}

.p-main .p-image {
  height: 34px;
  min-width: 34px;
  position: relative;
}

.p-main .p-top-frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.p-main .com-frame1 {
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.p-main .p-com-text-1 {
  color: rgb(29 35 43);
  font-family: "Noto Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.p-main .p-profile {
  height: 14px !important;
  min-width: 14px !important;
  position: relative !important;
}

.p-main .p-text-2 {
  color: rgb(145 158 182);
  font-family: "Noto Sans", Helvetica;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 10px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.p-main .com-text {
  color: rgb(145 158 182);
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 12px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.p-main .p-ellipse {
  background-color: rgb(145 158 182);
  border-radius: 1px;
  height: 2px;
  min-width: 2px;
  position: relative;
}
/*Header left Area*/

/*Description part starts here*/
.p-main .p-description {
  height: 826px;
  left: 0;
  position: absolute;
  top: 130px;
  width: 375px;
}
.p-main .rectangle {
  background-color: #ffffff;
  height: 336px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 375px;
}
.p-main .p-external {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  width: fit-content;
  padding-left: 8px;
  padding-right: 8px;
}
.p-main .p-internal {
  align-items: flex-start;
  font-family: "Noto Sans-Medium", Helvetica;
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 195px;
  width: 369px;
  font-size: 11.5px;
  line-height: 20px;
}
/*Description part ends here*/
/*Tag Section Starts*/
.p-main .p-tag-section{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}
.p-main .p-com-tagrow{
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: fit-content;
}
.p-main .p-com-tag{
    align-items: center;
    background-color: rgb(247 248 250);
    border: 0.5px solid;
    border-color: rgb(206 211 222);
    border-radius: 15px;
    display: flex;
    padding: 5px 12px;
    position: relative;
    width: fit-content;
}
.p-main .p-com-tag-text {
  color: #303a49;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 12px;
  margin-top: -0.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
/*Tag Section ends*/
/*Image section start*/
.p-main .p-postimage{
  background-color: #eceef2;
  height: 450px;
  left: 0;
  position: absolute;
  top: 425px;
  width: 375px;
}
.p-main .p-imagesmode {
  height: 450px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}

.p-main .p-img {
  height: 6px;
  left: 160px;
  position: absolute;
  top: 428px;
  width: 50px;
}

.p-main .p-social {
  background-color: var(--fontwhite);
  height: 56px;
  left: 0;
  position: absolute;
  top: 875px;
  width: 375px;
}
/*Image Ends*/

/*Option icon */
.options {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.options .group {
  height: 32px;
  min-width: 32px;
  position: relative;
}

.options .div {
  height: 3px;
  left: 10px;
  position: relative;
  top: 15px;
  width: 12px;
}

.options .ellipse {
  background-color: #afb8c9;
  border-radius: 1.5px;
  height: 3px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 3px;
}

.options .ellipse-2 {
  background-color: #afb8c9;
  border-radius: 1.5px;
  height: 3px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 3px;
}

.options .ellipse-3 {
  background-color: #afb8c9;
  border-radius: 1.5px;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

/*Option icon*/
/*icon here*/
.p-main .p-frame-8 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  left: 16px;
  position: absolute;
  top: 460px;
  width: fit-content;
}
.p-main .p-frame-9 {
  align-items: center;
  display: flex;
  position: relative;
  width: fit-content;
}
.p-main .p-icon-instance-node {
  height: 32px !important;
  min-width: 32px !important;
  position: relative !important;
}
.p-main .p-com-text-2 {
  color: var(--n-5);
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 12px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
/*comment image section*/
.p-main .p-divider {
  background-color: #bbbbbb;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 927px;
  width: 375px;
}
.p-main .p-comments {
  align-items: center;
  display: flex;
  gap: 8px;
  left: 16px;
  position: absolute;
  top: 945px;
  width: fit-content;
}
.p-main .p-left {
  height: 34px;
  min-width: 34px;
  position: relative;
}
.p-main .p-pimage {
  align-items: flex-start;
  display: flex;
  gap: 3.86px;
  height: 34px;
  position: relative;
  width: 34px;
}
.p-main .p-imagefill {
  background-color: #ffdca9;
  background-image: url(https://generation-sessions.s3.amazonaws.com/45c94c0529e80065d3f17bd741f5501b/img/mask-group-1@2x.png);
  background-size: 100% 100%;
  border-radius: 17px;
  height: 34px;
  min-width: 34px;
  position: relative;
}
.p-main .p-frame-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: fit-content;
}
.p-main .p-frame-7 {
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}
.p-main .p-text-wrapper-3 {
  color: var(--n-10);
  font-family: "Noto Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.p-main .p-profile2 {
  height: 14px !important;
  min-width: 14px !important;
  position: relative !important;
}
.p-main .p-text-wrapper-4 {
  color: rgb(145 158 182);
  font-family: "Noto Sans", Helvetica;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 10px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.p-main .p-option2 {
  height: 3px;
  left: 330px;
  position: absolute;
  top: 20px;
  width: 12px;
}
.p-main .p-ellipse-5 {
  background-color: rgb(175 185 202);
  border-radius: 1.5px;
  height: 3px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 3px;
}

.p-main .p-ellipse-6 {
  background-color: rgb(175 185 202);
  border-radius: 1.5px;
  height: 3px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 3px;
}

.p-main .p-ellipse-7 {
  background-color: rgb(175 185 202);
  border-radius: 1.5px;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}
/*comment image section*/
.p-main .p-commentarea {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 76px;
  left: 58px;
  position: absolute;
  top: 980px;
  width: 301px;
}

.p-main .p-com-span {
  color: rgb(49 59 73);
  font-family: "Noto Sans-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: relative;
  white-space: nowrap;
  width: 301px;
}

.p-main .p-com-text3 {
  color: #303a49;
  font-family: "Noto Sans", Helvetica;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.12px;
  line-height: 12px;
}
/*Image section send*/
.p-main .p-social{
  top:625px;
  left:40px;
}
.p-main .p-frame-11 {
  align-items: center;
  display: flex;
  position: absolute;
  width: fit-content;
}
.p-main .p-icon-instance-node {
  height: 28px !important;
  min-width: 28px !important;
  position: relative !important;
}
.p-main .icon-instance-node-2 {
    height: 25px !important;
    min-width: 25px !important;
    position: relative !important;
}
/**/
.p-main .p-frame-15 {
  align-items: center;
  display: flex;
  gap: 8px;
  left: 58px;
  position: absolute;
  top: 1115px;
  width: fit-content;
}
.p-main .p-group-3 {
  height: 34px;
  min-width: 34px;
  position: relative;
}
.p-main .p-class {
  align-items: flex-start;
  display: flex;
  gap: 3.86px;
  height: 34px;
  position: relative;
  width: 34px;
}
.p-main .p-group-8 {
  background-color: #fbb0ae;
  background-image: url(https://generation-sessions.s3.amazonaws.com/45c94c0529e80065d3f17bd741f5501b/img/mask-group@2x.png);
  background-size: 100% 100%;
  border-radius: 17px;
  height: 34px;
  min-width: 34px;
  position: relative;
}
.p-main .p-frame-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: fit-content;
}
.p-main .p-frame-17 {
  align-items: center;
  display: flex;
  gap: 4px;
  position: relative;
  width: fit-content;
}
.p-main .text-wrapper-3 {
  color: var(--n-10);
  font-family: "Noto Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 14px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.p-main .text-wrapper-4 {
  color: var(--n-5);
  font-family: "Noto Sans", Helvetica;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 10px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.p-main .p-option3{
    height: 3px;
    left: 285px;
    position: absolute;
    top: 20px;
    width: 12px;
}
.p-main .p-ellipse-8 {
  background-color: rgb(175 185 202);
  border-radius: 1.5px;
  height: 3px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 3px;
}

.p-main .p-ellipse-9 {
  background-color: rgb(175 185 202);
  border-radius: 1.5px;
  height: 3px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 3px;
}

.p-main .p-ellipse-10 {
  background-color: rgb(175 185 202);
  border-radius: 1.5px;
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}
/**/
.p-main .p-commentarea1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 76px;
  left: 100px;
  position: absolute;
  top: 1152px;
  width: 301px;
}
/*Social icon*/
.p-main .p-social1{
  top: 1115px;
  left: 40px;
}
.p-main .p-frame-18 {
  align-items: center;
  display: flex;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
}
.p-main .p-frame-19{
    align-items: flex-start;
    display: flex;
    gap: 8px;
    left: 100px;
    position: absolute;
    top: 1170px;
    width: -moz-fit-content;
    width: fit-content;
}
.p-main .p-frame-20 {
  align-items: center;
  display: flex;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
/*Social end*/
.p-main .frame-21 {
  align-items: center;
  border-color: #f7f8fa;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  gap: 16px;
  left: -10px;
  padding: 8px 16px 10px;
  position: absolute;
  top: 1217px;
  width: 375px;
}

.p-main .imagesmode-2 {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.p-main .text-wrapper-9 {
  color: var(--n-4);
  flex: 1;
  font-family: "Noto Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: relative;
  white-space: nowrap;
}

.p-main .text-wrapper-10 {
  color: var(--n-5);
  font-family: "Noto Sans", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.12px;
  line-height: 12px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
.p-main .p-input{
  width: 260px;
}